footer.footer
    div.container
        div.footer__left
            div.copyright ©Дизайн сайта был разработан в школе LoftSchool
        div.footer__right
            ul.socials
                li.socials__item
                    a(href="http://vk.com/divonata" class='socials__link socials__link_vk')
                li.socials__item
                    a(href="https://www.facebook.com/nata.norboeva" class='socials__link socials__link_fb')
                li.socials__item
                    a(href="" class='socials__link socials__link_tw')