header.h-card.header
    div.container
        div.header__left
            div.user
                div.user__avatar
                    img.u-photo.user__img(src="../images/avatar60px.png")
                div.p-name.user__name Наталья Норбоева
        div.header__right
            div.contacts
                a.contacts__link(href="#"  tabindex="0") Мои контакты
                ul.contacts__list
                    li.contacts__item
                        i.fa.fa-envelope(aria-hidden="true")
                        a.u-email.contacts__item-link(href="mailto:divonata@gmail.com") divonata@gmail.com
                    li.contacts__item
                        i.fa.fa-phone(aria-hidden="true")
                        a.p-tel.contacts__item-link(href="tel:81234567889") 81234567889
                    li.contacts__item
                        i.fa.fa-skype(aria-hidden="true")
                        a.contacts__item-link(href="skype:natalianorboeva?add") natalianorboeva
