aside.sidebar
    nav.nav
        ul.nav__list
            li.nav__item_active
                a.nav__link.nav__link_female(href="about.html") Обо мне
            li.nav__item
                a.nav__link.nav__link_rocket(href="career.html") Карьерный путь
            li.nav__item
                a.nav__link.nav__link_briefcase(href="portfolio.html") Портфолио