mixin link(href, name)
    a(class!=attributes.class href=href)= name

mixin sidebar(links)
    aside.sidebar
        nav.nav
            ul.nav__list
                each item in links
                    if item.isActive
                        li.nav__item.nav__item_active
                            +link(item.href, item.name)(class=item.classes)
                    else
                        li.nav__item
                            +link(item.href, item.name)(class=item.classes)