- var navLinks = [{ href: "about.html", name: 'Обо мне', classes: 'nav__link nav__link_female',isActive: true },{	href: 'career.html', name: 'Карьерный путь', classes: 'nav__link nav__link_rocket' },{ href: 'portfolio.html', name: 'Портфолио', classes: 'nav__link nav__link_briefcase' }];
doctype html
html
	include includes/_head.pug
	+head('Обо мне')
	body
	div.wrapper
		div.maincontent
			include includes/_header.pug
			div.content
				div.container
					include includes/_sidebar.pug
					+sidebar(navLinks)
					main.about
						div.about__left
							img.about__img(src='../images/avatar220px.png')
						div.about__right
							h1.title Обо мне
							div.about__description
								p Привет! Меня зовут Наталья Норбоева.
								p Хотя я училась на переводчика китайского языка, меня всегда интересовало программирование. В апреле 2016 было решено начать с малого - верстки - чтобы иметь возможность как можно быстрее влиться в сферу. Долго сравнивая различные онлайн курсы, выбрала Loftshool. На курсах благополучно освоила семантичную, адаптивную, кроссбраузерную верстку с применением Sass, BEM и Gulp, и основы javascript'а, который мне очень понравился.
								p В 2017 году удалось подтянуть JS, чтобы уметь решать более сложные задачи. В целом, хочу дорасти до уровня Senior, а это значит, что меня ждет длинный и интересный путь:)
							div.about__btns
								a.btn(href='http://hh.ru/resume/b2c34145ff01f962e70039ed1f555069334b66') Посмотреть резюме
		include includes/_footer.pug
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js/script')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js/script')
	script(src='./js/customScrollbar.js')

